h1{
  color: white;
  font-family: 'Dancing Script', cursive;
  font-style: oblique;
  font-size: 50px;
  text-align: center;
  background-color: red;
  font-weight: 400;

}
article{
  color: white;
}

body{
  background-color: purple;

}
#cool{
  color:red;
}
